html {
  scroll-behavior: smooth;
  background-color: #E3D3C4;
  color: #161A1E;
  font-family: 'Roboto';
  height: 100%;
}

header {
  display: flex;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  z-index: 2;
  background-color: #E3D3C4;
}

#logo {
  font-size: 0.9rem;
  padding: 0 20px;
}

.nav-bar {
  display: flex;
  padding: 0 20px;
}

.navigation-items {
  margin: 0 5px;
  list-style: none;
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
}

.navigation-items:hover {
  color: #FDFBFF;
  transition: color 0.3s ease-in;
}

/* Syling for the main body of the docment */
main {
  position: relative;
  top: 60px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}