html {
  scroll-behavior: smooth;
  background-color: #E3D3C4;
  color: #161A1E;
  font-family: 'Roboto';
  height: 100%;
}

header {
  display: flex;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  z-index: 2;
  background-color: #E3D3C4;
}

#logo {
  font-size: 0.9rem;
  padding: 0 20px;
}

.nav-bar {
  display: flex;
  padding: 0 20px;
}

.navigation-items {
  margin: 0 5px;
  list-style: none;
  color: #161A1E;
  text-decoration: none;
  font-size: 0.9rem;
}

.navigation-items:hover {
  color: #FDFBFF;
  transition: color 0.25s ease-in;
}

/* Syling for the main body of the docment */
main {
  position: relative;
  top: 60px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Styling for About me section of webpage */ 
.about-me {
  display: grid;
  position: relative;
  grid-template-areas: 
    "h2 h2"
    "img p";
  grid-template-columns: 400px 500px;
  grid-template-rows: auto 400px;
  justify-content: space-between;
}

.about-me-header {
  grid-area: h2;
  width: 100%;
  text-align: center;
  font-size: 20vw;
  margin: 0;
  padding: 10px 0;
}

.portrait {
  grid-area: img;
  width: 100%;
  padding: 0px 20px;
}

.about-me-text {
  grid-area: p;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me-text p {
  font-size: 14px;
}

.project {
  font-size: 18px;
  text-decoration: underline;
  color: #161A1E;
}

.project:hover {
  color: #FDFBFF;
  transition: color 0.25s ease-in;
}

/* Styling for Skills section of webpage */ 
#skills {
  margin: 0 20px;
}

#skills h2 {
  font-size: 2rem;
}

.skills-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;

}

.skills-container > * {
  font-size: 2em;
  width: 2em;
}